
  <!-- Navigation -->
<div th:fragment="banner_top">
  <div style="height: 10vw; background-color: rgb(230, 179, 27);"></div>
</div>


  <div th:fragment="header">

    <header>
        
    </header>
    <main>
      <nav class="navbar_sticky d-flex" id="target" style="background-color: rgb(230, 179, 27);">
          <h2 ><a id="nav_text" href="/admin" style="font-size: larger; font-weight: 600;">SportFit</a></h2>
          <ul class="d-flex justify-content-center">
            <li class="nav-item dropdown"><a
              class="nav-link dropdown-toggle" href="#"
              id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false"> ADMIN </a>
              <div class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" th:href="@{/productos}">Productos</a> 
                <a class="dropdown-item" href="#">Ordenes</a> 
                <a class="dropdown-item" href="#">Usuarios</a> 
                <a class="dropdown-item" href="#">Salir</a>
              </div></li>
              
              <li class="px-4">
                <form action="" method="get">
                  <input type="search" name="search" class="search" id="search" placeholder="Buscar...">
                  <button type="submit" class="btn btn-outline-light btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg></button>
                </form>
              </li>
          </ul>
      </nav>
  

  </div>
  
    <!-- Page Content -->


    <!-- Footer -->
    </main>

    <div th:fragment="footer">

      <footer class="py-5" style="background-color: rgb(230, 179, 27);">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; SportFit Store 2023</p>
    </div>
    <!-- /.container -->
  </footer>

    </div>
